<aside data-toggle-target="sidebar" class="min-h-screen bg-gray-700 pt-6 w-32 text-gray-100 pl-6 font-bold capitalize">
  <ul>
    <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
      <%= link_to "home", root_path %>
    </li>
    <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
      <%= link_to "Dashboard", dashboard_index_path %>
    </li>
    <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
      <%= link_to "project", projects_path %>
    </li>
    <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
      <%= link_to calendar_path do %>
        Calendar <span class="text-xs text-orange-500">enterprise</span>
      <%end%>
    </li>
    <%if current_user.organization_owner? %>
      <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
        <%= link_to organization_users_path do %>
          Users <span class="text-xs text-orange-500">pro</span>
        <%end%>
      </li>
    <%end%>
    <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
      <%= link_to teams_path do %>
        Teams <span class="text-xs text-orange-500">pro</span>
      <%end%>
    </li>
    <%if current_user.payment_processor&.subscribed? %>
      <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
        <%= link_to "Upgrade", billing_path %>
      </li>
    <%else%>
      <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
        <%= link_to "Plans", subscriptions_path %>
      </li>
    <%end%>
  </ul>  
</aside>