<aside data-toggle-target="sidebar" class="min-h-screen bg-gray-700 pt-6 w-32 text-gray-100 pl-6 font-bold capitalize">
  <ul>
    <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
      <%= link_to "home", root_path %>
    </li>
    <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
      <%= link_to "Dashboard", dashboard_index_path %>
    </li>
    <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
      <%= link_to "project", projects_path %>
    </li>
    <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
      <%= link_to "Calendar", calendar_path %>
    </li>
    <%if current_user.organization_owner? %>
      <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
        <%= link_to "Users", organization_users_path %>
      </li>
    <%end%>
    <li class="mt-6 hover:text-gray-800 visited:text-gray-800">
      <%= link_to "Teams", teams_path %>
    </li>
  </ul>  
</aside>