<div class="px-8 py-4 bg-gray-200 h-screen">
  <nav class="flex justify-between items-center">
    <h1>
      <a href="" class="text-4xl uppercase font-extrabold text-gray-900 hover:italic">Logo</a>
    </h1>
    <div class="flex gap-6">
      <a href="" class="flex items-center bg-orange-600 p-2 rounded-md capitalize font-bold text-gray-200 hover:bg-orange-700">
        Login
        <span>
          <%= inline_svg_tag("arrow-right-circle.svg", class:"size-6")%>
        </span>
      </a>
      <a href="" class="bg-gray-800 p-2 rounded-md capitalize font-bold text-gray-200 hover:bg-gray-600">Signup</a>
    </div>
  </nav>
  <main class="relative grid md:flex items-center justify-around">
    <section class="md:w-1/2">
      <div class="absolute top-10 hidden xl:flex justify-between w-1/2">
        <%= inline_svg_tag("print.svg", class:"size-20")%>
        <%= inline_svg_tag("sign.svg", class:"size-20")%>
      </div>
      <h2 class="font-bold text-4xl capitalize mb-4">Manage your Projects with ease</h2>
      <p class="mb-8 text-2xl ">Project tasks is a project management tool that helps you organise your projects and tasks</p>
      <a href="" class="flex items-center justify-center bg-orange-600 p-4 text-gray-200 text-4xl rounded-md hover:text-gray-600">
        Get Started
        <span>
          <%= inline_svg_tag("forward.svg", class:"size-10")%>
        </span>
      </a>
      <div class="absolute bottom-5 hidden xl:flex justify-between w-1/2">
        <%= inline_svg_tag("star.svg", class:"size-20")%>
        <%= inline_svg_tag("flash.svg", class:"size-20")%>
      </div>
    </section>
    <div class="md:w-1/2">
      <img src="/images/hero.png" alt="Hero" class="mt-8" />
    </div>
  </main>
</div>